<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span>Desc: </span>{{hero.descripcion}}</div>
    <div><span>poder: </span>{{hero.poder}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
    
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
      <label for="hero-poder">Hero poder: </label>
      <input id="hero-poder" [(ngModel)]="hero.poder" placeholder="Hero poder"/>
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
  </div>